[Unit]
Description=A simple server that always returns '404 page not found'
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/notfound
ExecStart=/opt/notfound/notfound -addr localhost:8888 -cert /opt/cert.crt -key /opt/cert.key

[Install]
WantedBy=multi-user.target
